<!DOCTYPE HTML>
<html>
	<head>
		<title>Quote!</title>
		<style type="text/css">
			#qID {
				display:none;
			}
		</style>
	</head>
	<body>	
		<form action="" method="post">
			<input type="text" name="qID" id="qID" value={{quote['objectId']}}>
			quote: {{quote['quote']}}
			<br />
			quote likes: {{quote['likes']}}
			<br />
			quote dislikes:{{quote['dislikes']}}
			<br />
			<input id="like_btn" type="button" value="Like!">
			<input id="dislike_btn" type="button" value="Dislike!">
		</form>
		<a href="/">Leave this terrible place</a>
		<script>
			function submitWithAction(action) {
				form = document.forms[0];
				form.action = action;
				form.submit();
			}

			document.getElementById('like_btn').onclick = function(){
				submitWithAction('/like');
			};
			
			document.getElementById('dislike_btn').onclick = function(){
				submitWithAction('/dislike');
			};
		</script>
	</body>
</html>