<!DOCTYPE HTML>
<html>
<head>
<title>MASTER USER PAGE</title>
</head>
<body>
% for user in accounts:
	<h2>
		Name: {{user['name']}}
		<br />
		Password: {{user['password']}}
	</h2>
% end
</body>
</html>